<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('new category')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <form action="#" th:action="@{${action}}" th:object="${category}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="row">
            <div class="col s12">
                <h2 th:text="${heading}">Category</h2>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('name')}? 'error' : ''">
                <input type="text" th:field="*{name}" placeholder="Category Name"/>
                <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('colorCode')}? 'error' : ''">
                <select th:field="*{colorCode}" class="cs-select cs-skin-border">
                    <option value="" disabled="disabled">Category Color</option>
                    <option th:each="color : ${colors}" th:value="${color.hexCode}" th:text="${color.name}" th:style="|color:${color.hexCode}|"></option>
                </select>
                <div class="error-message" th:if="${#fields.hasErrors('colorCode')}" th:errors="*{colorCode}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <button type="submit" th:text="${submit}" class="button">Add</button>
                <a th:href="@{/categories}" class="button">Cancel</a>
            </div>
        </div>
    </form>
    <div th:if="${category.id != null}" class="row delete">
        <div class="col s12 l8">
            <form th:action="@{|/categories/${category.id}/delete|}" method="post">
                <button type="submit" class="button">Delete</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>