<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('upload')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container upload">
    <div class="row">
        <div class="col s12">
            <h2 th:text="${heading}">Category</h2>
            <div class="subtitle" th:if="${heading == 'Upload'}">Upload and share your GIFs with friends and family on Facebook, Twitter, and everywhere else.</div>
        </div>
    </div>
    <div class="divider"></div>
    <form action="#" th:action="@{${action}}" th:object="${gif}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{username}"/>
        <input type="hidden" th:field="*{favorite}" />
        <input type="hidden" th:field="*{hash}"/>
        <div class="row">
            <div class="col s12 l8">
                <div class="file-wrapper" th:classappend="${#fields.hasErrors('file')}? 'error' : ''">
                    <input type="file" th:field="*{file}"/>
                    <span class="placeholder" data-placeholder="Choose an image...">Choose an image...</span>
                    <label th:for="file" class="button">Browse</label>
                    <div class="error-message" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('description')}? 'error' : ''">
                <input type="text" th:field="*{description}" placeholder="Description"/>
                <div class="error-message" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('category')}? 'error' : ''">
                <select th:field="*{category.id}" class="cs-select cs-skin-border">
                    <option value="" disabled="disabled">Select a category</option>
                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}" th:style="|color:${cat.colorCode}|"></option>
                </select>
                <div class="error-message" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button type="submit" th:text="${submit}" class="button">Upload</button>
                <a href="javascript:window.location = document.referrer;" class="button">Cancel</a>
            </div>
        </div>
    </form>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>